<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903934311122-5bgi8rj88f9tbdr5q2p4g7p0v4h4rn4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903934311122-5bgi8rj88f9tbdr5q2p4g7p0v4h4rn4i</string>
	<key>API_KEY</key>
	<string>AIzaSyD1aN1pOf8lHkFoId_bjg7rJpJbwjDjK5w</string>
	<key>GCM_SENDER_ID</key>
	<string>903934311122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codershigh.ThatWine</string>
	<key>PROJECT_ID</key>
	<string>that-wine-2938a</string>
	<key>STORAGE_BUCKET</key>
	<string>that-wine-2938a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903934311122:ios:310f66560a8dbb63aecb0b</string>
	<key>DATABASE_URL</key>
	<string>https://that-wine-2938a-default-rtdb.firebaseio.com</string>
</dict>
</plist>