<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540181639042-qcusba5fusv8el4apin5r165lum6e2tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540181639042-qcusba5fusv8el4apin5r165lum6e2tv</string>
	<key>API_KEY</key>
	<string>AIzaSyA8_D8VwLA4ON98ywVrRRupe-JIIKXtlcE</string>
	<key>GCM_SENDER_ID</key>
	<string>540181639042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gape.WineCalender</string>
	<key>PROJECT_ID</key>
	<string>wine-calendar-3e6a1</string>
	<key>STORAGE_BUCKET</key>
	<string>wine-calendar-3e6a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540181639042:ios:346ad771fdb518d9e2a99b</string>
</dict>
</plist>